* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

:root {
    --header: white;
    --body: #C0C78C;
    --floor: #B99470;
    --shelf: #65371e;
    --books: #D96F32;

    --buttons: #D4C3BA;
    --buttons-hover: #E3D2C9;
    --buttons-active: #F4E7E1;
}

/* HEADER */

.header {
    top: 0;
    left: 0;

    height: clamp(5em, 10vh, 15em);
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: start;

    padding: 2em;

    font-weight: bolder;
    font-size: clamp(1em, 3vh, 2em);

    background-color: var(--header);
}

/* BODY */

.body {
    background-color: var(--body);

    height: clamp(calc(100vh - 5em), 90vh, calc(100vh - 15em));
    width: 100vw;

    box-shadow: inset 0 3em 3em -2em rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: clamp(2em, 5vh, 5em);
}

#addBooksBtn {
    font-size: clamp(2em, 3vw, 3.5em);
    padding: 0.5em;

    border: none;
    border-radius: 20px;
}