* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

:root {
    --header: white;
    --body: #C0C78C;
    --body-lines: rgba(162, 169, 110, 0.8);
    --floor: #B99470;
    --floor-lines: rgba(155, 118, 82, 0.8);
    --shelf: #65371e;
    --inner-shelf: #9d6441;
    --books: #D96F32;

    --buttons: white;
    --buttons-hover: gray;
    --buttons-active: gray;
}

/* HEADER */

.header {
    top: 0;
    left: 0;

    height: clamp(5em, 10vh, 15em);
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: start;

    padding: 2em;

    font-weight: bolder;
    font-size: clamp(1em, 3vh, 2em);

    background-color: var(--header);
}

/* BODY */

.body {
    background: repeating-linear-gradient(
            to right,
            var(--body-lines) 0px,
            var(--body-lines) 2px,
            transparent 1px,
            transparent 30px
        ),
        var(--body);

    min-height: clamp(calc(100vh - 5em), 90vh, calc(100vh - 15em));
    height: fit-content;
    width: 100vw;

    box-shadow: inset 0 3em 3em -2em rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10em;
    padding: clamp(2em, 5vh, 5em) clamp(2em, 5vh, 5em) 0;
}

#addBooksBtn {
    font-size: clamp(2em, 3vw, 3.5em);
    padding: 0.5em;

    border: none;
    border-radius: 20px;

    box-shadow: 0.3em 0.3em 0.5em -0.3em rgba(0, 0, 0, 0.4);

    background-color: var(--buttons);

    transition: transform 0.2s ease-in-out;
}

#addBooksBtn:hover,
#addBooksBtn:active {
    background-color: var(--buttons-hover);

    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#addBooksBtn:active {
    transform: translateY(-0.3em);
}

.display {
    border: 1px solid red;
    height: fit-content;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.floor {
    width: 100vw;
    height: clamp(7em, 7vw, 15em);

    background: repeating-linear-gradient(
            to bottom,
            var(--floor-lines) 0px,
            var(--floor-lines) 2px,
            transparent 1px,
            transparent 30px
        ),
        var(--floor);

    box-shadow: inset 0 3em 3em -3em rgba(0, 0, 0, 0.3);
}

.grid-container {
    width: clamp(50em, 80vw, 120em);

    min-height: 50em;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-template-rows: repeat(2, minmax(25em, 1fr));
    grid-auto-rows: minmax(25em, 1fr);

    gap: 1em;
    padding: 1em;
    background-color: var(--shelf);

    border: 1em solid var(--shelf);
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}

.grid-container .shelf-item {
    background-color: var(--inner-shelf);

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    box-shadow: inset 0 1em 1em -1em rgba(0, 0, 0, 0.3);
}