* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

:root {
    --header: white;
    --body: #C0C78C;
    --body-lines: rgba(162, 169, 110, 0.8);
    --floor: #B99470;
    --floor-lines: rgba(155, 118, 82, 0.8);
    --shelf: #65371e;
    --inner-shelf: #9d6441;
    --books: #D96F32;

    --buttons: white;
    --buttons-hover: gray;
    --buttons-active: gray;
}

/* HEADER */

.header {
    top: 0;
    left: 0;

    height: clamp(3em, 12vh, 50em);
    min-width: 100vw;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;

    padding: 1em;

    font-weight: bolder;
    font-size: clamp(1em, 3vh, 4em);

    background-color: var(--header);
}

/* BODY */

.body {
    background: repeating-linear-gradient(
            to right,
            var(--body-lines) 0px,
            var(--body-lines) 2px,
            transparent 1px,
            transparent 30px
        ),
        var(--body);

    min-height: clamp(calc(100vh - 5em), 90vh, calc(100vh - 15em));
    height: fit-content;
    min-width: 100vw;
    width: 100%;

    box-shadow: inset 0 3em 3em -2em rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10em;
    padding: clamp(2em, 5vh, 5em) clamp(2em, 5vh, 5em) 0;
}

#addBooksBtn {
    font-size: clamp(2em, 3vw, 3.5em);
    padding: 0.5em;

    border: none;
    border-radius: 20px;

    box-shadow: 0.3em 0.3em 0.5em -0.3em rgba(0, 0, 0, 0.4);

    background-color: var(--buttons);

    transition: transform 0.2s ease-in-out;
}

#addBooksBtn:hover,
#addBooksBtn:active {
    background-color: var(--buttons-hover);

    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#addBooksBtn:active {
    transform: translateY(-0.3em);
}

.display {
    border: 1px solid red;
    height: fit-content;
    min-width: 100vw;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.floor {
    min-width: 100vw;
    width: 100%;
    height: clamp(10em, 10vw, 25em);

    background: repeating-linear-gradient(
            to bottom,
            var(--floor-lines) 0px,
            var(--floor-lines) 2px,
            transparent 1px,
            transparent 30px
        ),
        var(--floor);

    box-shadow: 
        inset 0 3em 3em -3em rgba(0, 0, 0, 0.3),
        inset 0 8em 3em -3em rgba(0, 0, 0, 0.2);
}

.grid-container {
    width: clamp(10em, 80vw, 120em);

    min-height: 50em;
    height: fit-content;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-template-rows: repeat(3, minmax(10, 1fr));
    grid-auto-rows: minmax(25em, 1fr);

    gap: 1em;
    padding: 1em;
    background-color: var(--shelf);

    border: 1em solid var(--shelf);
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;

    box-shadow: 
        0 5em 5em 0 rgba(0, 0, 0, 0.3),
        0 2em 2em -1em rgba(0, 0, 0, 0.4);
        
}

.grid-container .shelf-item {
    background-color: var(--inner-shelf);

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    box-shadow: 
        inset 0 1em 1em -1em rgba(0, 0, 0, 0.3);
}

/* MODAL */

.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

form {
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
    
    height: fit-content;
    width: clamp(10em, 80vw, 50em);

    transform: scale(0);
    transition: transform 0.2s ease-in-out;

    font-size: 1.8em;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}

form input[type="text"],
form input[type="number"],
form textarea {
    min-height: 4em;
    width: 100%;
    padding: 1em;

    font-size: 1.5rem;

    display: flex;
    align-items: center;

    resize: vertical;

    border-radius: 1em;
    border: 3px solid black;
}

form input[type="text"]:invalid,
form input[type="number"]:invalid,
form textarea:invalid {
    border: 3px solid red;
}

.input-container {
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    gap: 1em;
}

.modal.show form {
    transform: scale(1);
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
}

/* Z-INDEXES */

.modal {
    z-index: 999;
}

.floor {
    z-index: 0;
}

.grid-container {
    z-index: 1;
}

