* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

:root {
    --header: white;
    --body: #C0C78C;
    --body-lines: rgba(162, 169, 110, 0.8);
    --floor: #B99470;
    --floor-lines: rgba(155, 118, 82, 0.8);
    --shelf: #65371e;
    --inner-shelf: #9d6441;

    --buttons: white;
    --buttons-hover: gray;
    --buttons-active: gray;
}

/* HEADER */

.header {
    top: 0;
    left: 0;

    height: clamp(3em, 12vh, 50em);
    min-width: 100vw;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;

    padding: 1em;

    font-weight: bolder;
    font-size: clamp(1em, 3vh, 4em);

    background-color: var(--header);
}

/* BODY */

.body {
    background: repeating-linear-gradient(
            to right,
            var(--body-lines) 0px,
            var(--body-lines) 2px,
            transparent 1px,
            transparent 30px
        ),
        var(--body);

    min-height: clamp(calc(100vh - 5em), 90vh, calc(100vh - 15em));
    height: fit-content;
    min-width: 100vw;
    width: 100%;

    box-shadow: inset 0 3em 3em -2em rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10em;
    padding: clamp(2em, 5vh, 5em) clamp(2em, 5vh, 5em) 0;
}

#addBooksBtn {
    font-size: clamp(2em, 3vw, 3.5em);
    padding: 0.5em;

    border: none;
    border-radius: 20px;

    box-shadow: 0.3em 0.3em 0.5em -0.3em rgba(0, 0, 0, 0.4);

    background-color: var(--buttons);

    transition: transform 0.2s ease-in-out;
}

#addBooksBtn:hover,
#addBooksBtn:active {
    background-color: var(--buttons-hover);

    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#addBooksBtn:active {
    transform: translateY(-0.3em);
}

.display {
    height: fit-content;
    min-width: 100vw;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.floor {
    min-width: 100vw;
    width: 100%;
    height: clamp(10em, 10vw, 25em);

    background: repeating-linear-gradient(
            to bottom,
            var(--floor-lines) 0px,
            var(--floor-lines) 2px,
            transparent 1px,
            transparent 30px
        ),
        var(--floor);

    box-shadow: 
        inset 0 3em 3em -3em rgba(0, 0, 0, 0.3),
        inset 0 8em 3em -3em rgba(0, 0, 0, 0.2);
}

.grid-container {
    width: clamp(10em, 80vw, 120em);

    min-height: 50em;
    height: fit-content;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-template-rows: repeat(3, minmax(10, 1fr));
    grid-auto-rows: minmax(25em, 1fr);

    gap: 1em;
    padding: 1em;
    background-color: var(--shelf);

    border: 1em solid var(--shelf);
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;

    box-shadow: 
        0 5em 5em 0 rgba(0, 0, 0, 0.3),
        0 2em 2em -1em rgba(0, 0, 0, 0.4);
        
}

.grid-container .shelf-item {
    background-color: var(--inner-shelf);

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    box-shadow: 
        inset 0 1em 1em -1em rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: end;
}

.book {
    width: 80%;
    height: 90%;

    padding: 0.3em;

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    box-shadow: 
        0 0 1em 0 rgba(0, 0, 0, 0.3);

    font-size: 1.5em;
    overflow: hidden;

    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;

    transition: transform 0.2s ease-in-out;
}

.book:focus,
.book:hover {
    transform: translateY(-0.3em);
}

.book:active {
    transform: translateY(-1em);
}

/* MODAL */

.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;

    overflow-y: auto;
    padding: 2em 1em;
}

form,
#confirmation-msg-container {
    position: relative;

    background-color: white;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
    
    height: fit-content;
    width: clamp(10em, 80vw, 60em);

    transform: scale(0);
    transition: transform 0.2s ease-in-out;

    font-size: clamp(0.3em, 5vw, 3em);

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}

.close-btn {
    position: absolute;
    top: clamp(0.5em, 2%, 1em);
    right: clamp(0.5em, 2%, 1em);

    width: clamp(1.3em, 5vw, 2em);
    height: clamp(1.3em, 5vw, 2em);

    background-color: lightgray;
    
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    transition: transform 0.2s ease-in-out;
}

.close-btn:focus,
.close-btn:hover {
    background-color: gray;
    color: white;
}

.close-btn:active {
    transform: translateY(-0.3em);
}

form h3 {
    font-size: 1.5em;
    font-weight: bold;

    align-self: center;
}

form input[type="text"],
form input[type="number"],
form textarea {
    min-height: 4em;
    width: 100%;
    padding: 1em;

    font-size: clamp(1em, 5vw, 1em);

    display: flex;
    align-items: center;

    resize: vertical;

    border-radius: 1em;
    border: 3px solid black;
}

form input[type="checkbox"] {
    transform: scale(3.3);
}

form input[type="text"]:focus,
form input[type="text"]:hover,
form input[type="number"]:focus,
form input[type="number"]:hover,
textarea:focus,
textarea:hover,
input:disabled {
    background-color: #ccc;
}

form input[type="text"]:invalid,
form input[type="number"]:invalid {
    border: 3px solid red;
}

form input[type="text"]:valid,
form input[type="number"]:valid {
    border: 3px solid limegreen;
}

.input-container,
.completed label {
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    gap: 1em;
}

.completed {
    margin-bottom: 1em;
}

.modal.show form,
.modal #confirmation-msg-container {
    transform: scale(1);
}

.modal form,
#confirmation-msg-container {
    max-height: 90vh;
    overflow-y: auto;
}


.modal.show,
#confirmation-msg-container.show {
    opacity: 1;
    pointer-events: auto;
}

.input-container.rating {
    justify-self: center;
    align-self: center;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: clamp(1.5em, 5vw, 2.2em);
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.rating input {
  display: none;
  width: 0; 
  height: 0;
  position: absolute; 
}

.rating label {
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
  display: flex;     
  align-items: center;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #ffa904;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1em;

    align-self: center;
}

#remove {
    display: none;
}

#submit,
#remove,
.action-container #yes,
.action-container #no {
    align-self: center;
    font-size: 1em;
    padding: 1em;
    border-radius: 1em;
    border: none;

    transition: transform 0.2s ease-in-out;
}

#submit:focus,
#submit:hover,
#remove:focus,
#remove:hover,
.action-container #yes:focus,
.action-container #no:focus,
.action-container #yes:hover,
.action-container #no:hover {
    background-color: gray;
    color: white;
}

#submit:active,
#remove:active,
.action-container #yes:active,
.action-container #no:active {
    transform: translateY(-0.3em);
}

/* CONFIRMATION MODAL */

#confirmation-msg-container {
    background-color: white;
    min-height: 20em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.confirmation-msg {
    margin-top: 1em;
    font-size: clamp(0.5em, 20vw, 2em);
}

.action-container {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

/* Z-INDEXES */

.modal#remove-modal {
    z-index: 1000;
}

.modal {
    z-index: 999;
}

.floor {
    z-index: 0;
}

.grid-container {
    z-index: 1;
}

