* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

:root {
    --header: white;
    --body: #C0C78C;
    --floor: #B99470;
    --shelf: #65371e;
    --books: #D96F32;

    --buttons: #D4C3BA;
    --buttons-hover: #E3D2C9;
    --buttons-active: #F4E7E1;
}